@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to feedback system</h1><br><br>
    <h2><a href="feedback/index">Click  here to go to Feedback Page</a></h2>
    <h3>login id - oshoup521@gmail.com password- Osho@123</h3>
 
</div>
