@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Successfully logged in</h1><br><br>
    <h2><a href="feedback/index">Click  here to go to Feedback Page</a></h2>

</div>
